// Cost
.hb-cost {
  background-color: $hb-dark;
  color: $white!important;
  padding: 2px 5px;
  @include letter-and-font();
  font-size: 13px;
  display: inline-block;
  &.cost-free {
    background-color: $hb-green!important;
    text-transform: uppercase;
  }
}

select.form-control {
  font-weight: 300;
  font-size: 13px;
}

.extend-this {
  &.active {
    height: 160px;
    overflow: hidden;
    position: relative;
    &:after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 80px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 100%);
    }
  }
}

.readmore {
  color: $hb-pink;
  font-size: 13px;
}


.col-sm-3 {
  .region-sidebar-second {
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    .block {
      @include blocks();
      position: relative;
    }
  }
}

#block-views-jobs-rhs-block-1,
#block-views-user-profile-rhs-block-1,
#block-views-user-profile-rhs-block-3 {
  @include tags();
}

.block-blue {
  background-color: #EAF7F9!important;
  border-color: #D8EDF1!important;
  .views-row {
    border-bottom: 1px solid $light-grey;
    padding: 5px 0;
    font-size: 13px;
    &:last-of-type {
      border-bottom: none;
    }
  }
}
