#block-tweaks-contact-us-button {
  a.contact-btn {
    display: block;
    bottom: 0;
    right: 15px;
    z-index: 9;
    position: fixed;
    padding: 5px 25px 5px 15px;
    text-decoration: none;
    transition: all 0.1s ease;
    background: $hb-dark;
    color: $white;
    text-align: center;
    border-radius: 5px 5px 0 0;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 300;
    border: 1px solid rgba(237, 239, 240, 0.14);
    border-bottom: none;
    &:hover {
      padding-bottom: 10px;
    }
    .fa {
        font-size: 10px;
        position: absolute;
        top: 9px;
        right: 10px;
    }
  }
}
