.footer {
  // height: 100px;
  background-color: $hb-dark;
  margin-top: 50px;

  .col-sm-4 {
    padding: 15px;
  }

  #block-menu-block-1,
  #block-models-nav-social-nav-footer {
    a {
      color: $light-grey;
      &:hover {
        background: none!important;
        text-decoration: none;
      }
    }
  }

  #block-menu-block-1,
  #block-models-nav-social-nav-footer {
    ul {
      list-style: none outside none;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }

  #block-menu-block-1 {
    text-align: center;
    padding: 15px 0;
    ul {
      li {
        a {
          display: inline-block;
          font-size: 13px;
          font-weight: 300;
          &:hover {
            text-decoration: underline;
          }
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }

  #block-models-nav-social-nav-footer {
    li {
      display: inline;
      padding: 0 10px;
      a {
        display: inline-block;
        &:hover {
          color: $hb-pink;
        }
      }
    }
  }
}


  #block-webform-client-block-132,
  #block-webform-client-block-166 {
    width: 470px;
    margin: 0 auto;
    padding: 15px 0;
    clear: both;
    button {
      border: 1px solid $white;
      border-left: none;
      border-radius: 0;
    }
    .webform-component-email {
      width: 80%;
      float: left;
      input.email {
        background: none;
        border: 1px solid $hb-light-grey;
        color: $hb-light-grey;
        outline: none;
        height: 33px;
      }
    }
  }

.footer-cr {
  color: $light-grey;
  background-color: darken($hb-dark, 30%);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  padding: 10px 0;
}


@media (min-width: $screen-phone){
  #block-menu-block-1 {
    ul {
      li {
        display: inline;
        padding: 0 10px;
      }
    }
  }

  #block-menu-block-1 {
    text-align: center;
    padding: 15px 0;
    ul {
      li {
        border-right: 1px solid rgba(83, 192, 214, 0.25);
      }
    }
  }


}

@media (max-width: $screen-phone){
  .footer {
    #block-menu-block-1 {
      li {
        display: block;
        border: none;
      }
    }
    #block-models-nav-social-nav-footer {
      li {
        &:last-of-type {
          display: block;
          padding: 10px 0 0;
        }
      }
    }
  }
}

