.node-unpublished {
  background: none;
}

.node-type-job {

  #hb-header {
    //margin-bottom: 15px;
    //background-color: $hb-dark;
    .header-title {
      h1 {
        color: $hb-dark;
        text-shadow: none;
      }
    }
    .header-author-pic {
      .my-image {
        width: 100px;
        img {
          border-color: $hb-dark;
        }
        //margin: 40px 0 0;
      }
    }
    //  .yoga-intro {
    //    color: $hb-dark;
    //    text-shadow: none;
    //    font-weight: 300;
    //    span {
    //      padding: 3px 0;
    //      display: inline-block;
    //    }
    //    a {
    //      display: inline-block;
    //      margin-right: 3px;
    //    }
    //    .btn {
    //      font-size: 12px;
    //      letter-spacing: 0;
    //    }
    //  }
  }
  //#page-header-bg {
  //  height: 320px;
  //  width: 1000px;
  //  left: 50%;
  //  border-radius: 15px 15px 0 0;
  //  transform: translate(-50%, 0);
  //
  //  .text-bg {
  //    position: absolute;
  //    width: 100%;
  //    background: white;
  //    height: 140px;
  //    bottom: 0;
  //    left: 0;
  //  }
  //}

  .col-sm-3 {
    .region-sidebar-second {
      .material-icons {
        font-size: 16px;
        vertical-align: middle;
      }
      .block {
        padding: 5px;
        h2 {
          padding: 0 5px;
        }
        .views-field-field-hb-geofield {
          margin-bottom: 5px;
        }
        &#block-views-jobs-rhs-block {
          ul {
            border-bottom: 1px solid #E7EAEB;
          }
        }
        p, ul {
          font-size: 14px;
          margin-bottom: 5px;
          margin-bottom: 5px;
          padding: 5px;
          // &.open-link {
          a {
            color: $hb-pink;
          }
          // }
        }
        p {
          border-bottom: 1px solid #E7EAEB;
          &.feedback-note {
            border-bottom: none;
            border-top: 1px solid #E7EAEB;
            margin-bottom: 0;
          }
        }
        li {
          list-style: none;
        }
        .views-field-field-yoga-link {
          p {
            border-bottom: none;
            a {
              //color: $hb-dark;
            }
          }
        }
        .views-field-title {
          font-size: 18px;
        }
      }
    }
    #block-views-jobs-rhs-block-3 {
      font-weight: 300;
      margin-top: 40px;
      .views-label {
        font-size: 12px;
      }
      .views-field-field-my-name {
        margin-top: 65px;
        font-size: 16px;
      }
    }
    .views-field-field-hb-time {
      li {
        span {
          font-size: 12px;
        }
      }
    }
    #block-views-jobs-rhs-block-1,
    #block-views-jobs-rhs-block-3,
    #block-tweaks-job-client-faces {
      //padding: 15px;
      box-shadow: none;
      border: none;
      background: none;
      .views-field-field-yoga-style {
        clear: left;
      }
      .raty {
        text-align: left;
      }
      .views-field-name {
        padding: 15px 0;
        a {
          font-weight: 300;
        }
      }
      .views-field-picture {
        width: 70px;
        /* float: left; */
        margin: -55px auto;
        clear: both;
        img {
          border-radius: 50%;
          border: 3px solid $white;
          background-color: $light-grey;
        }
      }

    }
    #block-block-10 {
      ul {
        li {
          a {
            padding: 5px 10px;
            position: relative;
            display: block;
            margin-bottom: 1px;
            text-decoration: none;
            color: $dark;
            background-color: rgba(111, 115, 210, 0.08);
            transition: 0.2s ease all;
            i {
              //display: none;
              vertical-align: middle;
            }
            &:hover {
              padding-left: 13px;
              &:after {
                transition: 0.2s ease all;
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 100%;
                width: 2px;
                background-color: $hb-pink;
              }
            }
          }
        }
      }
    }
  }
  .node-job {
    .job-content {
      @include blocks();
    }
    .alert {
      margin-bottom: 15px;
    }
  }

  .job-lhs {
    padding-bottom: 60px !important;
  }

  @media (min-width: $screen-lg-desktop) {
    .container {
      width: 970px;
    }
  }

  // .job-content,
  // .tab-pane {
  //   padding: 15px 0;
  // }

  // .request-tab {
  //   a {
  //     background-color: $hb-pink!important;
  //     color: $white!important;
  //     border: 1px solid $hb-pink!important;
  //   }
  // }

  // .job-info {
  //   padding-bottom: 15px;
  // }

  .hb-rhs-job-button {
    padding-top: 5px;
    // margin-top: px;
    //border-top: 1px solid #e7eaeb;
    a {
      // @include big-btn();
      // display: block;
      // margin: 15px 0;
      position: relative;
      &:after {
        @include fa-background("\f105");
        right: 10%;
        top: 7px;
        transition: all 0.3s ease;
      }
      &:hover {
        &:after {
          right: 8%;
        }
      }
    }
  }

  // .field {
  //   margin-bottom: 8px;
  // }

  // .field-label {
  //   font-weight: 500;
  //   color: $hb-dark;
  // }

  // .field-items {
  //   font-weight: 300;
  //   .field-item {
  //     float: left;
  //     padding: 1px 6px;
  //     background-color: $hb-dark;
  //     color: $white;
  //     margin-right: 2px;
  //   }
  // }

  .st-wrapper {
    // overflow: hidden;
    // height: 50px;
    #block-sharethis-sharethis-block {
      padding: 15px;
      background-color: $hb-light-grey;
      float: left;
    }
  }

  // .field-name-body,
  // .field-name-field-hb-location {
  //   .field-item {
  //     background: none;
  //     color: $hb-dark;
  //     padding: 0;
  //   }
  // }

  // .field-name-body {
  //   .field-item {
  //     float: none;
  //   }
  // }

  .field-name-field-hb-geofield {
    .field-items {
      font-weight: 300;
      .field-item {
        float: none;
        padding: 0;
        background: none;
        color: $hb-dark;
        margin-right: 0;
      }
    }
  }

  .view-job-requests-block {
    .panel {
      border: none;
      box-shadow: none;
      .panel-heading {
        display: none;
      }
      .panel-body {
        padding: 0;
      }
    }
    td, th {
      vertical-align: middle;
      text-align: center;
    }
    .views-field-views-bulk-operations {
      width: 40px;
    }
    .views-field-picture {
      .user-image {
        width: 50px;
        margin: 0 auto;
        img {
          border-radius: 50%;
        }
      }
    }
    .user-name {
      a {
        padding-left: 5px;
      }
    }
  }

}

#block-facebook-comments-block-fb-comments {
  .fb-comments, .fb-comments iframe[style], .fb-comments span {
    width: 100% !important;
  }
  .fb-page, .fb-page iframe[style], .fb-page span {
    width: 100% !important;
  }
}

.st_fblike {
  display: none;
}
