.node-unpublished {
  background: none;
}

.node-type-job {
  .col-sm-3 {
    .region-sidebar-second {
      .block {
        padding: 5px;
        .views-field-field-hb-geofield {
          margin-bottom: 5px;
        }
        &#block-views-jobs-rhs-block {
          ul {
            border-bottom: 1px solid #E7EAEB;
          }
        }
        &#block-tweaks-job-client-faces {
          ul {
            li {
              float: left;
              a {
                .my-image {
                  width: 40px;
                  margin: 2px 1px;
                  opacity: 0.6;
                }
                &.active {
                  .my-image {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
        p, ul {
          font-size: 13px;
          margin-bottom: 5px;
          margin-bottom: 5px;
          padding: 5px;
          // &.open-link {
            a {
              color: $hb-pink;
            }
          // }
        }
        p {
          border-bottom: 1px solid #E7EAEB;
          &.feedback-note {
            border-bottom: none;
            border-top: 1px solid #E7EAEB;
            margin-bottom: 0;
          }
        }
        li {
          list-style: none;
        }
        .views-field-field-my-name {
          p {
            border-bottom: none;
            a {
              color: $hb-dark;
            }
          }
        }
      }
    }
    #block-views-jobs-rhs-block-1,
    #block-tweaks-job-client-faces {
      padding: 15px;
    }
  }

  .node-job {
    .job-content {
      @include blocks();
    }
    .alert {
      margin-bottom: 15px;
    }
  }

  .job-lhs {
    padding-bottom: 60px!important;
  }

  #hb-header {
    background-color: $hb-light-grey;
  }

  @media (min-width: $screen-lg-desktop){
    .container {
      width: 970px;
    }
  }

  // .job-content,
  // .tab-pane {
  //   padding: 15px 0;
  // }

  // .request-tab {
  //   a {
  //     background-color: $hb-pink!important;
  //     color: $white!important;
  //     border: 1px solid $hb-pink!important;
  //   }
  // }

  // .job-info {
  //   padding-bottom: 15px;
  // }

  .hb-rhs-job-button {
    padding-top: 5px;
    // margin-top: px;
    border-top: 1px solid #e7eaeb;
    a {
      // @include big-btn();
      // display: block;
      // margin: 15px 0;
      position: relative;
      &:after {
        @include fa-background("\f105");
        right: 10%;
        top: 7px;
        transition: all 0.3s ease;
      }
      &:hover {
        &:after {
          right: 8%;
        }
      }
    }
  }

  // .field {
  //   margin-bottom: 8px;
  // }

  // .field-label {
  //   font-weight: 500;
  //   color: $hb-dark;
  // }

  // .field-items {
  //   font-weight: 300;
  //   .field-item {
  //     float: left;
  //     padding: 1px 6px;
  //     background-color: $hb-dark;
  //     color: $white;
  //     margin-right: 2px;
  //   }
  // }

  .st-wrapper {
    // overflow: hidden;
    // height: 50px;
    #block-sharethis-sharethis-block {
      padding: 15px;
      background-color: $hb-light-grey;
      float: left;
    }
  }

  // .field-name-body,
  // .field-name-field-hb-location {
  //   .field-item {
  //     background: none;
  //     color: $hb-dark;
  //     padding: 0;
  //   }
  // }

  // .field-name-body {
  //   .field-item {
  //     float: none;
  //   }
  // }

  .field-name-field-hb-geofield {
    .field-items {
      font-weight: 300;
      .field-item {
        float: none;
        padding: 0;
        background: none;
        color: $hb-dark;
        margin-right: 0;
      }
    }
  }

  .view-job-requests-block {
    .panel {
      border: none;
      box-shadow: none;
      .panel-heading {
        display: none;
      }
      .panel-body {
        padding: 0;
      }
    }
    td, th {
      vertical-align: middle;
      text-align: center;
    }
    .views-field-views-bulk-operations {
      width: 40px;
    }
    .views-field-picture {
      .user-image {
        width: 50px;
        margin: 0 auto;
        img {
          border-radius: 50%;
        }
      }
    }
    .user-name {
      a {
        padding-left: 5px;
      }
    }
  }

}

#block-facebook-comments-block-fb-comments {
  .fb-comments, .fb-comments iframe[style], .fb-comments span {
     width: 100% !important;
  }
  .fb-page, .fb-page iframe[style], .fb-page span {
      width: 100% !important;
  }
}

.st_fblike {
  display: none;
}
