.page-my-jobs {
  .my-jobs-info {
    margin-top: 15px;
  }
}

.page-user- {
  #hb-header {
    height: 320px;
    margin-top: 15px;
    background-color: $light-grey;
    .header-title {
      //margin-left: 190px;
      h1 {
        padding: 150px 0 20px;
        text-shadow: 1px 1px 1px #172A3A;
        color: #EDEFF0;
        font-size: 35px;
        font-weight: 400;
      }
    }

    .header-author-pic {
      .my-image {
        width: 150px;
        margin: 62px 0 0;
        img {
          //border-radius: 50%;
          border: 3px solid $white;
        }
      }
    }
    .yoga-intro {
      color: $hb-dark;
      text-shadow: none;
      font-weight: 300;
      font-size: 14px;
      span {
        padding: 3px 0;
        display: inline-block;
      }
      a {
        display: inline-block;
        margin-right: 3px;
      }
      .btn {
        font-size: 12px;
        letter-spacing: 0;
      }
    }
    #page-header-bg {
      height: 340px;
      width: 1000px;
      left: 50%;
      border-radius: 15px 15px 0 0;
      transform: translate(-50%, 0);

      .text-bg {
        position: absolute;
        width: 100%;
        background: rgba(255,255,255,0.80);
        height: 100px;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.page-user {

  .edit-this {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 13px;
    a {
      color: $light-grey-border;
    }
  }

  .col-sm-3 {
    &:hover {
      .edit-this {
        a {
          color: darken($light-grey-border, 20%);
        }
      }
    }
  }

  #block-views-user-profile-rhs-block,
  #block-views-user-profile-rhs-block-2 {
    .views-field-field-my-address-locality {
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px dashed #e7eaeb;
    }
    .views-field-nothing {
      padding-top: 15px;
      margin-top: 15px;
      border-top: 1px solid #e7eaeb;
    }

    span,
    .material-icons {
      font-size: 14px;
    }
    .views-field-name {
      span {
        font-size: inherit;
      }
    }
    .views-field-name,
    .views-field-field-my-web {
      a {
        color: $hb-pink;
      }
    }
    .views-field-field-my-web {
      .field-content {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
