.page-user {

  .edit-this {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 13px;
    a {
      color: $light-grey-border;
    }
  }

  .col-sm-3 {
    &:hover {
      .edit-this {
        a {
          color: darken($light-grey-border, 20%);
        }
      }
    }
  }

  #block-views-user-profile-rhs-block,
  #block-views-user-profile-rhs-block-2 {
    .views-field-field-my-address-locality {
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px dashed #e7eaeb;
    }
    .views-field-nothing {
      padding-top: 15px;
      margin-top: 15px;
      border-top: 1px solid #e7eaeb;
    }

    span,
    .material-icons {
      font-size:  14px;
    }
    .views-field-name {
      span {
        font-size: inherit;
      }
    }
    .views-field-name,
    .views-field-field-my-web {
      a {
        color: $hb-pink;
      }
    }
  }
}
