#block-block-6 {
  #selected-clients {
    padding: 0;
    li {
      list-style: none;
      a {
        padding: 5px 10px;
        margin: 3px 0;
        /* border-bottom: 1px solid #dfe1e3; */
        background: #f8f8f8;
        display: block;
        font-size: 13px;
        position: relative;
        text-decoration: none;
        &:hover {
          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-color: $hb-dark;
            height: 100%;
            width: 2px;
          }
        }
      }
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
  button {

  }
}

.view-job-requests-block,
.page-job-requests {

  .views-row {
    &.active {
      transform: scale(1.05);
      .views-surrounder {
        border: 1px solid $hb-green;
        border-bottom: none;
      }
      .option {
        a {
          background-color: $hb-green;
          border: 1px solid $hb-green;
          color: $white;
          &:hover {
            background-color: $hb-green;
            color: $white;
          }
        }
      }
    }
    .views-surrounder {
      a {
        text-decoration: none;
        &:hover {
          font-weight: 500;
        }
      }
      @include blocks();
      margin-bottom: 0;
      border-bottom: none;
      border-radius: 4px 4px 0 0;
      // box-shadow: 0 2px 0 rgba(0, 0, 0, 0.03);
      background-color: #f8f8f8;
      box-shadow: none;
      padding: 15px 15px 5px;
      .views-field {
        font-size: 13px;
        font-weight: 300;
      }
    }
    .option {
      @include blocks();
      border-radius: 0 0 4px 4px;
      text-align: center;
      font-size: 12px;
      font-weight: 300;
      padding: 0;
      a {
        padding: 5px 15px;
        display: block;
        text-decoration: none;
        border-radius: 0 0 4px 4px;
        // transition: 0.2s ease all;
        &:hover {
          background-color: #f8f8f8;
          color: $hb-pink;
        }
      }
    }
  }

  // .panel {
  //   border: none;
  //   box-shadow: none;
  //   .panel-heading {
  //     display: none;
  //   }
  //   .panel-body {
  //     padding: 0;
  //   }
  // }
  // td, th {
  //   vertical-align: middle!important;
  //   text-align: center!important;
  // }
  // .views-field-views-bulk-operations {
  //   width: 40px;
  // }
  .views-field-name {
    text-align: center;
    padding: 5px 0;
    a {
      color: $hb-pink;
    }
  }
  .views-field-nothing-2, .views-field-nothing-1 {
    text-align: center;
    padding: 5px 0 0;
    color: $hb-pink;
  }
  .views-field-picture {
    .user-image {
      width: 80px;
      margin: 0 auto;
      img {
        border-radius: 50%;
        border: 2px solid $light-grey;
      }
    }
  }
  .user-name {
    a {
      padding-left: 5px;
    }
  }
}
