.i-am-new {
  li {
    border: none!important;
  }
}
.noty_type_warning {
  background-color: $state-warning-bg!important;
  border: 1px solid $state-warning-border!important;
}

// $state-success-text:
// $state-success-bg:
// $state-success-border:

// $state-info-text:
// $state-info-bg:
// $state-info-border:

// $state-warning-text:
// $state-warning-bg:
// $state-warning-border:

// $state-danger-text:
// $state-danger-bg:
// $state-danger-border:

.noty_message {
  .noty_text {
    font-weight: 300!important;
    ul {
      padding-left: 15px;
    }
  }
  .noty_close {
    background: none!important;
      &:after {
        @include fa-background("\f00d");
        right: 0;
        opacity: 0.5;
        top: 0;
        color: $eq-grey;
        // transition: all 0.3s ease;
      }
  }
}
