.raty-feedback,
.raty {
  text-align: center;
  color: #FDB825;
  .fa {
    font-size: 15px;
    width: 15px;
  }
  .star-grey {
    color: #eee!important;
  }
  .star-dark-grey {
    color: #ccc!important;
  }
}
