.chosen-container {
  &.form-control {
    height: auto;
    width: 100%!important;
  }
  width: 100%!important;
  padding: 6px;
  border-radius: 0;
  border: 1px solid #ccc;
  font-weight: 300;
  font-family: inherit;
  font-size: 12px;
  box-shadow: none;

  .chosen-drop {
    border: 1px solid #ccc;
    box-shadow: none;
  }
  .chosen-choices {
    background-image: none;
    border: none;
    box-shadow: none;
  }
  .chosen-single {
    border: none!important;
    padding: 0!important;
    height: auto!important;
    box-shadow: none!important;
    background: none!important;
  }
}

#edit_tags_chosen {
  .chosen-results {
    li {
      float: left;
      margin: 1px;
      color: #fff;
      background-color: $hb-dark;
      &.result-selected {
        background-color: lighten($hb-dark, 30%);
        color: #fff;
      }
    }
  }
}

.chosen-container .chosen-results li.highlighted {
  background-color: lighten($hb-dark, 10%)!important;
  background-image: none;
  color: #fff;
}

.chosen-container-multi .chosen-choices li.search-choice {
  padding: 3px 20px 3px 5px;
  border: none;
  background-color: $hb-dark;
  background-image: none;
  background-size: 100% 19px;
  background-repeat: none;
  background-clip: none;
  box-shadow: none;
  color: #fff;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    font-family: fontawesome;
    background: none!important;
    font-size: 12px;
    &:before {
      content: "\f00d";
      position: absolute;
      text-indent: 0;
      color: #fff;
      top: 0;
      left: 0;
    }
}
