.page-job-photos {
  ul {
    padding: 0;
    li {
      list-style-position: inside;
    }
  }
}

#block-views-eck-pics-block-1,
#block-views-eck-pics-user-block {
  .view-content {
    .views-row {
      float: left;
      width: 20%;
      position: relative;
      img {
        width: 80%;
        height: auto;
        margin: 0 auto;
        cursor: pointer;
        &:hover {
          border: 2px solid lighten($hb-pink, 20%);
        }
      }

      span.fa {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: $hb-dark;
        color: $white;
        padding: 5px 10px;
        font-size: 20px;
        cursor: pointer;
        opacity: 0.4;
        transition: 0.4s ease all;
        &:hover {
          opacity: 0.95;
        }
      }

      // &.views-row-first,
      &.active {
        img {
          border: 2px solid $hb-pink!important;
        }
      }
    }
  }
}

#dz {
  border: 2px dashed $hb-dark;
  color: $hb-pink;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}

#dz-submit {
  @include big-btn();
  display: block;
  margin: 15px auto;
  position: relative;
  width: 50%;
  &:after {
    @include fa-background("\f105");
    right: 50px;
    top: 12%;
    transition: all 0.3s ease;
  }
  &:hover {
    &:after {
      right: 30px;
    }
  }
}

.dz-remove {
  font-size: 12px!important;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: lighten($hb-pink, 15%);
  margin-top: 5px;
  display: block!important;
  color: $white!important;
  border-radius: 4px;
  padding: 2px 1px;
  &:hover {
    background-color: $hb-pink;
    text-decoration: none!important;
    // color: $white!important;
  }
}
