// Theme Customizations to Forms/Webforms //
.form-control {
  box-shadow: none;
}

.map_canvas {
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
}

.geocomplete-manual,
.add-a-date {
  color: #2083EF;
  font-weight: 300;
}

.not-logged-in.page-user {
  .form-control {
    font-size: 18px;
  }

  #edit-submit {
    width: 100%;
    @include big-btn();
    position: relative;
    transition: all 0.3s ease;

    &:after {
      @include fa-background("\f105");
      right: 50px;
      top: 7px;
      transition: all 0.3s ease;
    }
    &:hover {
      &:after {
        right: 30px;
      }
    }
  }

  .form-item-pass {
    .control-label {
      &:last-child {
        display: none;
      }
    }
    .form-item-pass-pass1 {
      .label {
        display: none!important;
      }
      .glyphicon {
        // display: none!important;
        position: absolute;
        right: 15px;
        top: 36px;
      }
      .glyphicon-ok {
        display: block!important;
      }
      .progress {
        height: 5px;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
      }
    }
  }
  .password-help {
    clear: both;
    margin: 0;
    font-size: 12px;
    padding: 0 15px;
    ul {
      padding: 0;
      li {
        list-style-position: inside;
      }
    }
  }
}

#user-login {
  .form-control {
    padding: 5px;
    border: none;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    box-shadow: none!important;
  }
}

ul.user-info {
  margin-top: 15px;
  padding: 0;
  font-weight: 300;
  font-size: 12px;
  li {
    list-style-position: inside;
  }
}

.panel-heading {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}

.help-block,
#edit-notes-counter {
  font-weight: 300;
  color: $hb-dark;
}

div.addressfield-container-inline > div.form-item {
  margin-right: 0;
  float: none;
}
