.page-job-feedback {
  .feedb-separator {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    &:last-of-type {
      border: none;
    }
  }
  .lhs {
    text-align: center;
    .my-image {
      padding-bottom: 5px;
      width: 80px;
      margin: 0 auto;
    }
    .uname {
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
    }
  }
  .rhs {
    .raty-feedback {
      padding-bottom: 10px;
      text-align: left;
      .fa {
        width: 20px;
        font-size: 20px;
      }
      .fa-minus-square {
        color: $hb-dark;
      }
    }
    .grippie {
      display: none;
    }
    textarea {
      border-radius: 5px;
    }
    .counter {
      font-weight: 300;
      padding-top: 5px;
    }
  }
  #edit-submit {
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 25px !important;
    width: 50%;
    margin: 15px auto;
    display: block;
    position: relative;
    &:after {
      @include fa-background("\f105");
      right: 50px;
      top: 7px;
      transition: all 0.3s ease;
    }
    &:hover {
      &:after {
        right: 30px;
      }
    }
  }
}
