#addressfield-wrapper {
  // display: none;
  .form-group {
    margin-bottom: 5px;
    label {
      font-size: 12px;
      font-weight: 300;
    }
    .form-control {
      font-size: 12px;
    }
  }
}

.hbm-choose-type {
  margin-bottom: 30px;
 .choice-box {
  text-align: center;
  cursor: pointer;
  transition: all ease 0.2s;
  // width: 25%;

  .choice-type {
    background-color: $white;
    height: 150px;
    position: relative;
    span {
      position: absolute;
      bottom: 0;
      right: 0;
      font-weight: 300;
      letter-spacing: 1px;
      padding: 10px;
      color: #fff;
    }
    &.hair {
      background: url('../images/hair-button.png') 0 -14px no-repeat;
      background-size: cover;
      // background-color: $hb-pink;
    }
    &.beauty {
      background: url('../images/beauty-button.png') 0 -16px no-repeat;
      background-size: cover;
      // background-color: $hb-blue;
    }
    &.personal {
      background: url('../images/last-minute.png') 0 -14px no-repeat;
      background-size: cover;
      // background-color: $hb-dark;
    }
    &.active {
      transform: scale(1.1);
      box-shadow: 2px 2px 0px 0px black;
    }
    &.inactive {
      transform: scale(1);
      opacity: 0.4;
      box-shadow: none;
    }
  }

  &:hover {
    // transform: scale(1.1);
    .choice-type:not(.active) {
      box-shadow: 2px 2px 0px 0px black;
      // border: 1px solid $hb-pink;
    }
  }
 }

  .hb-type {
    background: darken($hb-blue, 20%);
    &:after {
    }
    &.hb-type-hair {
      background: darken($hb-pink, 20%);
      &:after {
        border-color: transparent darken($hb-pink, 40%) transparent transparent;
      }
    }
    &.hb-type-personal {
      background: darken($hb-dark, 20%);
      &:after {
        border-color: transparent darken($hb-dark, 40%) transparent transparent;
      }
    }
  }
}

// Hide the form wrapper to start..
#models-forms-create-form {
  #edit-wrapper {
    display: none;
  }
  .help-block {
    font-size: 12px;
  }
  ul.help-points {
    font-size: 12px;
    font-weight: normal;
    padding: 0;
    padding-bottom: 10px;
    li {
      list-style: inside;
    }
  }
  #edit-notes-format {
    display: none;
  }
  .panel-heading {
    display: none;
  }
  #form-intro {
    padding: 10px 15px;
    color: $white;
    &.type-h {
      background-color: $hb-pink;
    }
    &.type-b {
      background-color: $hb-blue;
    }
    &.type-p {
      background-color: $hb-dark;
    }
  }

  #edit-title-counter {
    font-size: 10px;
  }

  #step-extra-btn {
    .btn {
      @include big-btn();
      display: block;
      margin: 15px 0;
      position: relative;
      &:after {
        @include fa-background("\f105");
        right: 50px;
        top: 7px;
        transition: all 0.3s ease;
      }
      &:hover {
        &:after {
          right: 30px;
        }
      }
    }
  }

}

@media (min-width: $screen-lg-desktop){
  // .hbm-choose-type {
  //   width: 700px;
  //   margin: 0 auto 30px auto;
  // }
  .page-job-create {
    .container {
      width: 600px;
    }
  }
}
