.key-blocks {
  height: 100%;
  width: 40px;
  border: 1px solid $eq-blue;
  float: left;
}
.key-a {
  background-color: $white;
}

#strawdog-key {
  .key-blocks {
    height: 40px;
  }
}

#strawdog-dropzone {
  height: 40px;

  .sd-wrapper {
    @include pressed-border-bottom();
    @include clearfix();
    margin-bottom: 1px;

    .sd-common {
      height: 105px;
      background-color: $light-grey;
    }
    .sd-number {
      width: 5%;
      border-right: 1px solid $white;
      float: left;
      text-align: center;
      span {
        padding-top: 25px;
        display: inline-block;
        font-size: 35px;
        color: $eq-blue;
      }
    }
    .sd-padded {
      width: 10%;
      border-right: 1px solid $white;
      float: left;
      position: relative;
      .start,
      .finish {
        font-size: 12px;
        position: absolute;
        right: 0;
        background-color: $eq-blue;
        width: 100%;
        color: $white;
        text-align: center;
        z-index: 1;

        // &:before {
        //   content: '';
        //   background-color: $white;
        //   height: 1px;
        //   width: 17px;
        //   position: absolute;
        //   left: 3px;
        //   top: 9px;
        // }
        // &:after {
        //   content: '';
        //   background-color: $white;
        //   height: 1px;
        //   width: 17px;
        //   position: absolute;
        //   right: 3px;
        //   top: 9px;
        // }
      }

      .start {
        top: -9px;
      }
      .finish {
        bottom: -9px;
      }
    }

    .sd-container {
      width: 100%;

      .key-blocks {
        border-right: none;
        background-color: rgba(73, 119, 254, 0.24);
        &:last-child {
          border-right: 1px solid $eq-blue!important;
        }
      }
    }
  }

  .sd-break {
    width: 100%;
    background: $eq-grey;
    color: $white;
    text-align: center;
    @include pressed-border-bottom();

    span {
      letter-spacing: 1px;
      padding: 5px 0;
      display: inline-block;
    }
  }
}

// Dropdown
#strawdog-splitter-form {
  .chosen-search {
    display: none!important;
  }
}

// Bootstrap modal overrides
.modal-backdrop {
  background-color: $eq-blue;
}
.modal-content {
  // border-radius: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  .modal-header,
  .modal-footer {
    background-color: $light-grey;
  }
  .modal-header {
    @include border-top-radius(5px);
  }
  .modal-footer {
    @include border-bottom-radius(5px);
  }
}

// Context menu overrides
.context-menu-list {
  border-radius: 0;
  border: 1px solid $light-grey-border;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.05);
  font-size: 11px;

  .context-menu-icon {
    &:before {
      color: $eq-blue;
    }
  }
  .context-menu-hover {
    background-color: $eq-blue;
    &.context-menu-icon {
      &:before {
        color: $white;
      }
    }
  }
}

// Forms
.form-control {
  height: auto;
}
#duration-time {
  input {
    border-right: none;
  }
}


