#hb-header {
  @media (min-width: $screen-lg-desktop){
    .container {
      width: 970px;
    }
  }

  position: relative;
  z-index: 2;
  overflow: hidden;
  background-color: $white;
  padding: 10px 15px;
  border-bottom: 1px solid $light-grey-border;
  color: $light-grey-border;
  text-shadow: 1px 1px 1px $hb-dark;

  a {
    color: $light-grey-border;
  }

  &.no-my-nav {
    margin-bottom: 15px;
  }

  .page-header {
    margin: 0;
    border: none;
    padding-top: 8px;
  }

  .breadcrumb {
    padding-left: 0;
    margin-bottom: 0;
  }

  // Bring these rules in when viewing a job.
  .header-title {
    margin: 15px 0;

    h1 {
      padding-bottom: 5px;
    }

    .hb-time {
      font-weight: 300;
      font-size: 13px;
    }
    .hb-cost {
      margin: 3px 3px 0 0;
      // background: $hb-pink;
    }
    .hdr-hb-type {
      color: $white;
      padding: 2px 5px 2px;
      margin: 3px 3px 0 0;
      display: inline-block;
      font-size: 13px;
      font-weight: 300;
      letter-spacing: 1px;
      &.hb-beauty {
        background: $hb-blue;
      }
      &.hb-hair {
        background: $hb-pink;
      }
    }
  }
  .header-author-pic {
    margin: 15px 0;
    .my-image {
      width: 80px;
      margin: 0 auto;
      img {
        border: 2px solid $light-grey-border;
      }
    }
    .hb-rating {
      margin: 3px 0;
    }
    .hb-feedback-score {
      text-align: center;
      font-weight: 300;
      font-size: 13px;
    }
  }
  #block-search-api-sorts-search-sorts {
    margin-top: 5px;
    width: 150px;
  }
}

// .page-user {
  #page-header-bg {
    width: 100%;
    background: url("../images/HBM Background 2.png") 0 0 no-repeat;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
  }
// }
